<%-include("partials/header.ejs")%>

<div class="mar">
    <div class="inter">OTP verification failed.</div>
    <div class="inter">You took longer time than expected.</div>
    <div class="inter">Please try again.</div>
    <a href="/login" class="inter">Retry</a>
</div>

<%-include("partials/footer.ejs")%>