<%-include("partials/header.ejs")%>

    <div>
        <h1 class="box mar">Welcome!</h1>
            <div class="inter">1) Go to login page and enter their email address and presses “Request OTP” button.</div>
            <br>
            <div class="inter">2) You will see the OTP on the terminal.</div>
            <br>
            <div class="inter">3) Enter the OTP on the web page and press “Verify OTP” button and after successful login, you will get your email displayed.</div>
        <p class="box">Have a Nice Day!</p>
        <a href="/login" class="box mar">Login</a>
    </div>

<%-include("partials/footer.ejs")%>