<%-include("partials/header.ejs")%>

<div class="box mar">
    <p class="inter mar">You are successfully logged in!</p>
    <br>
    <p class="inter mar">Your email: <%=email%></p>
    <br>
    <a href="/logout" class="inter mar">Logout</a>
</div>

<%-include("partials/footer.ejs")%>