<%-include("partials/header.ejs")%>

<div class="box mar">
<form action="/login" method="post">
    <input type="email" name="email" id="">
    <button type="submit">Request OTP</button>
</form>
</div>

<%-include("partials/footer.ejs")%>