<%-include("partials/header.ejs")%>

<div class="box mar">
<form action="/OTP" method="post">
    <input type="number" name="otp" id="">
    <button type="submit">Verify OTP</button>
</form>
</div>

<%-include("partials/footer.ejs")%>